beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
Django==2.0.7
django-simple-serializer==2.0.7
future==0.16.0
idna==2.7
itsdangerous==0.24
lxml==4.2.3
numpy==1.14.5
pandas==0.23.3
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
six==1.11.0
tushare==1.2.4
urllib3==1.23
